[submodule "deps/catkin/catch"]
	path = deps/catkin/catch
	url = ../../utiasASRL/catch.git
	branch = catkin/feature/stl-container-approx
[submodule "deps/catkin/lgmath"]
	path = deps/catkin/lgmath
	url = ../../utiasASRL/lgmath.git
	branch = develop
[submodule "deps/catkin/catkin_optional"]
	path = deps/catkin/catkin_optional
	url = ../../utiasASRL/catkin_optional.git
	branch = master
